[project]
	description = android rom custom
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/djlife520
[access "refs/for/refs/*"]
	read = group user/djlife520
	push = group user/djlife520
	label-Code-Review = -2..+2 group user/djlife520
	label-Verified = -1..+1 group user/djlife520
	rebase = group user/djlife520
	removeReviewer = group user/djlife520
	submit = group user/djlife520
[access "refs/heads/*"]
	read = group user/djlife520
	create = group user/djlife520
	push = +force group user/djlife520
	pushMerge = group user/djlife520
[access "refs/tags/*"]
	push = +force group user/djlife520
	pushTag = group user/djlife520
	pushSignedTag = group user/djlife520
